@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .yl {
    @apply border-4 border-yellow-400;
  }
  .rd {
    @apply border border-red-600;
  }
}



:root {
  background-color: #242424;
  color: white;
  width: 100vw;


  /* width */
  &::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    transition: all 0.2s;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #00000018;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ffffff3f;
    border-radius: 1rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #00000034;
    cursor: pointer;
  }
}
